
[Unit]
Description=AQC IPA Offload

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/sbin/modprobe aqc_ipa_offload
ExecStop=/sbin/rmmod aqc_ipa_offload

[Install]
WantedBy=multi-user.target
