[Unit]
Description= DDClient service
SourcePath=/usr/sbin/ddclient

[Service]
Type=forking
Restart=no
#ExecStart=/usr/sbin/ddclient -file /etc/data/ddclient.conf
ExecStart=/usr/sbin/ddclient -file /tmp/ddns/ddclient.conf
ExecStop=/bin/kill -TERM $MAINPID
