[Unit]
Description= emac service
SourcePath=/etc/initscripts/emac_dwc_eqos_start_stop_le
After=QCMAP_ConnectionManagerd.service
Before=init_sys_mss.service
DefaultDependencies=no

[Service]
Restart=on-failure
RemainAfterExit=yes
ExecStart=/etc/initscripts/emac_dwc_eqos_start_stop_le start
ExecStop=/etc/initscripts/emac_dwc_eqos_start_stop_le stop
Nice=-20

[Install]
WantedBy=multi-user.target
WantedBy=sockets.target
