# Copyright (c) 2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#

[Unit]
Description=pcie-diag Service
SourcePath=/etc/initscripts/pcie-diag
After=pcie.service

[Service]
RemainAfterExit=yes
ExecStart=/etc/initscripts/pcie-diag