[Unit]
Description= WLAN service
SourcePath=/etc/initscripts/start_qcmap_wlan_le
DefaultDependencies=no

[Service]
Restart=no
RemainAfterExit=yes
ExecStartPre=+/sbin/mount-copybind /systemrw/misc/wifi /etc/misc/wifi
ExecStart=/etc/initscripts/start_qcmap_wlan_le start
ExecStop=/etc/initscripts/start_qcmap_wlan_le stop
Nice=-20
