[Unit]
SourcePath=/usr/sbin/wpa_cli
Description= WPA Client service
DefaultDependencies=no

[Service]
Type=oneshot
EnvironmentFile=/var/run/data/wpa_cli_status_options.conf
StandardOutput=file:/var/run/data/wpa_cli_status
ExecStart=/usr/sbin/wpa_cli -i ${sta_interface} status
Nice=-20
SuccessExitStatus=0 1
