#QTI_PPP <tty> #QTI <MHI> #QCMAP <bridge>
KERNEL=="ttyGS0" RUN+="/etc/udev/scripts/data_udev_script.sh ttyGS0"
KERNEL=="ttyGS1" RUN+="/etc/udev/scripts/data_udev_script.sh ttyGS1"
KERNEL=="ttyHS1" RUN+="/etc/udev/scripts/data_udev_script.sh ttyHS1"
KERNEL=="smd7" RUN+="/etc/udev/scripts/data_udev_script.sh smd7"
KERNEL=="smd8" RUN+="/etc/udev/scripts/data_udev_script.sh smd8"
KERNEL=="smd9" RUN+="/etc/udev/scripts/data_udev_script.sh smd9"
KERNEL=="smd10", RUN+="/etc/udev/scripts/data_udev_script.sh smd10"
KERNEL=="dpl_ctrl", RUN+="/etc/udev/scripts/data_udev_script.sh dpl_ctrl"
KERNEL=="dpl_ctrl10", RUN+="/etc/udev/scripts/data_udev_script.sh dpl_ctrl10"
KERNEL=="smdcntl8", RUN+="/etc/udev/scripts/data_udev_script.sh smdcntl8"
KERNEL=="rmnet_ctrl", RUN+="/etc/udev/scripts/data_udev_script.sh rmnet_ctrl"
KERNEL=="mhi_pipe_16", RUN+="/etc/udev/scripts/data_udev_script.sh mhi_pipe_16"
KERNEL=="mhi_pipe_14", RUN+="/etc/udev/scripts/data_udev_script.sh mhi_pipe_14"
KERNEL=="mhi_ctrl", RUN+="/etc/udev/scripts/data_udev_script.sh mhi_ctrl"
KERNEL=="bridge*", RUN+="/etc/udev/scripts/data_udev_script.sh bridge"
KERNEL=="gsb", RUN+="/etc/udev/scripts/data_udev_script.sh gsb"
SUBSYSTEM=="mtd", ATTR{name}=="emac", RUN+="/etc/udev/scripts/data_udev_script.sh mtd %k"
KERNEL=="rndis0", TAG+="systemd", RUN+="/etc/udev/scripts/data_udev_script.sh rndis"
KERNEL=="switch_ssdk", RUN+="/etc/udev/scripts/data_udev_script.sh switch_ssdk"
KERNEL=="embms_tm_device", RUN+="/etc/udev/scripts/data_udev_script.sh embms_tm_device"
