# Copyright (c) 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

ACTION=="add", KERNEL=="ubi[0-9]", SUBSYSTEM=="ubi", RUN+="/bin/sh -c 'chown -R root:ubi /sys/class/ubi/%k/scrub_all && chmod 0664 /sys/class/ubi/%k/scrub_all'"
ACTION=="add", KERNEL=="ubi_ctrl", GROUP="ubi", MODE="0660"
