[Unit]
Description=Lightning Fast Webserver With Light System Requirements
After=network.target router_daemon.service
Requries=router_daemon.service

[Service]
Type=simple
#ExecStartPre=/etc/initscripts/lighttpd start
#ExecStart=/usr/sbin/lighttpd -f /data/lighttpd.conf
ExecStart=/usr/bin/httpd -d
Restart=always

RestartSec=5
ExecStartPre=sleep 1

#ExecStop=/etc/initscripts/lighttpd stop
ExecStop=kill -9 $MAINPID

[Install]
WantedBy=multi-user.target

