[Unit]
Description=mobile_svr
After=network.target ubus.service router_daemon.service
Requires=network.target ubus.service router_daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/mobile_svr

ExecStop=killall -9 mobile_svr

Restart=always

RestartSec=5

StartLimitInterval=0

[Install]
WantedBy=multi-user.target

