[Unit]
Description=qmi_svr
After=network.target ubus.service router_daemon.service
Requires=network.target ubus.service router_daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/qmi_svr

ExecStop=kill -9 $MAINPID

Restart=always

RestartSec=5

StartLimitInterval=0

[Install]
WantedBy=multi-user.target

